.container-5 {
    width: 75%;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
}

.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
}
.flex-blackjack-row-1, .flex-blackjack-row-2 {
    background: url('https://media.istockphoto.com/photos/green-poker-table-felt-background-picture-id140020812?k=6&m=140020812&s=170667a&w=0&h=f7DlGClgSVkp3agtNy1jz9g1Y_X7EltPsnM1x34hkj0=') center;
    color: #ffffff;
}

.flex-blackjack-row-1 div {
    border: 1px solid black;
    height: 350px;
    padding: 10px;
    text-align: center;
    flex: 1;
}

.flex-blackjack-row-1 img {
    width: 25%;
    padding: 10px;
}

.flex-blackjack-row-2 button {
    border: 1px solid black;
    padding: 10px;
}

.flex-blackjack-row-2 div {
    border: 1px solid black;
    padding: 10px;
}

table, th, td{
    padding: 5px;
    border: 1px solid black;
}